*.iml
.gradle

# 🚨 THE VAULT: These lines make sure Git never sees your secret keys!
/local.properties
local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx